.markdown-container {
  h1,
  h2,
  h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
  }

  h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  h5 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  h6 {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  sup {
    color: #3B82F6;
    background: rgba(59, 130, 246, 0.15);
    border-radius: 8px;
    height: 16px;
    font-weight: 600;
    width: 16px;
    display: inline-flex;
    vertical-align: text-top;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-box-align: center;
    text-indent: 0;
    margin-left: 2px;
    top: 2px;
  }

  /* Markdown paragraphs */
  p {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    word-wrap: break-word;
  }

  /* Markdown lists */
  ul,
  ol {
    margin-bottom: 8px;
    padding-left: 30px;
    line-height: 22px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-bottom: 8px;
    /* text-indent: 0px; */
  }

  /* Markdown links */
  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Markdown code blocks */
  pre {
    padding: 12px;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box; /* Include padding and border */
    white-space: pre-wrap;   /* Allow line wrapping */
    word-wrap: break-word;   /* Prevent long words from overflowing */
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  code {
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  }

  /* Markdown blockquotes */
  blockquote {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #ccc;
    color: #777;
  }

  /* Markdown horizontal rule */
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }

  /* Markdown images */
  img {
    max-width: 100%;
    height: auto;
  }

  /* Markdown table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 8px;
  }

  th,
  td {
    padding: 3px 8px;
    border: 1px solid rgba(200, 203, 208, 1);
  }

  th {
    background-color: #f7f8fa;
    color: #92989f;
    font-size: 12px;
    font-weight: 400;
  }
}

.dark {
  .markdown-container {
    a {
      color: #007bff;
    }

    a:hover {
      color: #66b3ff;
    }

    pre,
    code {
      background-color: #1D273F;
      color: #C4CAD5;
    }

    blockquote {
      border-left: 2px solid #777;
      color: #ccc;
    }

    hr {
      border-top: 1px solid #777;
    }

    th,
    td {
      border: 1px solid #777;
    }

    th {
      background-color: #222;
    }

    sup {
      color: #60A5FA;
      background: rgba(59, 130, 246, 0.2);
    }
  }
}
